/*   
Theme Name: Fine Light Entertainment
Theme URI: http://residencygroup.com
Description: Custom theme built for Fine Light Entertainment by David Tang!
Author: David Tang
Author URI: http://residencygroup.com
Template: blank
Version: 0.1
*/

/*
@import url('../blank/style.css');
*/

div, ul, li, p, h1, h2, h3, h4, h5, h6, a {
	margin:0;
	padding:0;
	text-decoration:none;
}

body {
	background-color:black;
	font-family: 'Cabin', arial, sans-serif;
	color:#949193;
	padding-bottom:20px;
}

.container {
	width:960px;
	margin:0 auto;
}

/*for layout with sidebar */
.main {
	width:640px;
	float:left;
	padding:0;
	padding-right:20px;
}


.sidebar {
	width:280px;
	float:left;
	padding-top:30px;
	padding-left:20px;
	margin-bottom:20px;
}

.sidebar .sidebar_title {
	text-transform:uppercase;
	color:#F3F0E9; 
	font-size: 24px;
}

.item {
	margin:15px 0;
}

.item h4, .item h4 a {
	color:#9D5254;
	font-weight:normal;
	font-style:italic;
}

.item h4 a:hover {
	color:#F3F0E9;
}

.item .date {
	color:;
}

.header {
	margin-bottom:40px;
}

.header h1, .header .nav {
	float:left;
	height:186px;
}

.page_title {
	color:#F3F0E9;
	font-size:36px;
	font-weight:bold;
	text-transform:uppercase;
}

.page_description {
	margin-top:15px;
	margin-bottom:20px;
}

.header .nav {
	width:280px;
	list-style-type:none;
	position:relative;
}

.header h1 {
	width:400px;
}

.nav li {
	position:absolute;
	bottom:40px;
}

.nav1 {left:0;}
.nav2 {right:40px;}
.nav3 {left:40px;}
.nav4 {right:0;}

.nav li a {
	color:#949193;
	text-decoration:none;
	font-weight:bold;
	font-size:20px;
	text-transform:uppercase;
}

.nav li a:hover, .featured a.redBold:hover {
	color:#FFFDF8;
}

.home-video {
	width:960px;
	margin-top:25px;
	margin-bottom:15px
}

.featured {
	color:#949193;
	text-transform:uppercase;
	margin-top:20px;
	margin-bottom:20px;
	line-height:150%;
	font-weight:bold;
	font-size:18px;
}

.team_member {
	color:#949193;
	margin-bottom:25px;
	width:500px;
}

.team_member h3 {
	text-transform:uppercase;
	margin-bottom:5px;
}


.team_member img {
	float:left;
	margin-right:15px;
}

.redBold {
	color:#9D5254;
}

.footer {
	margin-top:20px;
	padding-top:20px;
	border-top:1px solid #949193;
	clear:both;
}

.icons a {
	width:24px;
	height:24px;
	display:inline-block;
	padding-right:10px;
	background-repeat:no-repeat;
	background-image:url(../../../images/sprites.png);
}

.icons a.facebook {
	background-position: -162px -64px ;

}
.icons a.facebook:hover {
	background-position: -162px -13px ;
}
.icons a.twitter {
	background-position: -112px -64px ;
}
.icons a.twitter:hover {
	background-position: -111px -13px ;
}
.icons a.vimeo {
	background-position: -213px -64px ;
}
.icons a.vimeo:hover {
	background-position: -213px -14px ;
}
.icons a.youtube {
	background-position: -21px -63px ;
	width: 58px;
}
.icons a.youtube:hover {
	background-position: -22px -13px ;
}


.clear {
	clear:both;
}

.city img {
	margin-top:15px;
	margin-bottom:5px;
	margin-right:35px;
	float:left;
}

.info {
	padding-top:15px;
}

.city h3 {
	color:#9D5254;
	font-size: 16px;
	font-weight:normal;
}

.city .phone {
	font-style:italic;
}

.portfolio_item {
	position:relative;
	margin-bottom:20px;
}

.portfolio_item img {
	width:920px;
	height:120px;
}

.portfolio_info {
	position:absolute;
	bottom:-11px;
	left:0;
	background-color:#444;
	opacity:0.9;
	padding:10px;
}

.portfolio-filter {
	margin-top:15px;
	margin-bottom:15px;
}

.portfolio-filter a {
	margin-right:20px;
	color:#949193;
}

.portfolio-filter .selected-filter {
	color:#9D5254;
}

.portfolio-container {
	height:410px;
	overflow-y: scroll;
	overflow-x:hidden;
}

.media {
	margin-top:20px;
	margin-bottom:20px;
}
.media-description {
	margin-bottom:20px;
}

.hidden {
	display:none;
}